*

{


    margin: 0;
    padding: 0;

    box-sizing: border-box;

}

body
{

    padding-top: 78.90909576416016px;
    height: 5000px;
}
header
{


    height: 60px;
    background-color: #f6f6f6;
    position: fixed;
    width:100%;

    top:0px;
    transition:     height 2s;

    

}


.changeHeader
{
height: 50px;
background-color: gold;

box-shadow: 2px 5px 5px #000;
     
}

header ul  
{
list-style: none;

display:flex;

justify-content: center;


}


header ul li a
{


    display: block;
    margin: 5px;
    background-color: #f50;
    color: #FFF;
    text-decoration: none;

    padding: 10px;
    
}

section
{

   /* display: none;*/

  min-height:  400px;
}

.portfolio  .images img
{


    width: 250px;
height: 250px;



}


section.home
{
   /* display: block; */

    background: coral;
}





section.about
{

    background: cornflowerblue;
}






section.portfolio
{

    background: darkorange;

}






section.contact
{

    background: darkviolet;
}




textarea{

    display: block;

    margin: 10px;
}






header ul li a.active
{

    background-color: #080;
}

.scrollTop

{



    background-color: red;
    color:#FFF;
    position:fixed ;
    cursor: pointer;
    bottom: 10px;
    right: 0;
    padding: 15px;

    display: none;
}



